__pycache__/
.pytest_cache/
*.py[cod]
*$py.class
*.egg-info/
telegram/browser_profile/
*.env
telegram/artifacts/
telegram/downloads/
telegram/logs/
telegram/sessions/
.gdrive*
dataset_builder/.downloaded/
dataset_builder/.completed/
dataset_builder/*.log
.downloaded/
.completed/
central-logs/
linkvertise/input/links.txt
linkvertise/output/
linkvertise/artifacts/
linkvertise/state/
linkvertise/downloads/
linkvertise/logs/
linkvertise/sessions/
linkvertise/browser_profile/
linkvertise/**/*.conf
linkvertise/.env.mullvad
linkvertise/.mullvad-profile-state
linkvertise/.venv/
linkvertise/.pytest_cache/
**/tests/**
**/.extras/**
telegram/links-for-tests.txt

Portable-Tor-Proxy-Rotator/
temp/
har/
video/
.downloaded
*.log
*.logs

