MULLVAD_PROFILE=ca-mtr-wg-004.conf
MULLVAD_WIREGUARD_PRIVATE_KEY=example-private-key
MULLVAD_WIREGUARD_ADDRESSES=10.0.0.2/32
MULLVAD_SERVER_HOSTNAMES=ca-mtr-wg-004
MULLVAD_SERVER_CITIES=
MULLVAD_WIREGUARD_ENDPOINT_PORT=51820
MULLVAD_FIREWALL_OUTBOUND_SUBNETS=100.64.0.0/10,172.16.0.0/12,192.168.0.0/16
