LINKVERTISE_INPUT=/srv/vw-linkvertise/input/links.txt
LINKVERTISE_STATE=/srv/vw-linkvertise/state/session_state.json
LINKVERTISE_DOWNLOAD_DIR=/srv/vw-linkvertise/downloads
FLARESOLVERR_ENDPOINT=http://flaresolverr
