TELEGRAM_API_ID=
TELEGRAM_API_HASH=
TRW_API_KEY=
REALDEBRID_API_KEY=
KATFILE_API_KEY=
GDRIVE_API_KEY=
# RD Extension UI positions (screen coordinates for pyautogui clicks)
RD_EXTENSION_X=
RD_EXTENSION_Y=
RD_UNRESTRICT_X=
RD_UNRESTRICT_Y=
RD_COPY_X=
RD_COPY_Y=